@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
  --color-orange-hover: hsl(27, 100%, 71%);
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black-overlay: hsla(0, 0%, 0%, 0.75);
  --color-black-shadow: hsla(0, 0%, 0%, 0.4);

  --font-size-paragraph: 16px;
  --font-kumbh-sans: 'Kumbh Sans', sans-serif;

  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-kumbh-sans);
  color: var(--color-dark-grayish-blue);
  font-size: var(--font-size-paragraph);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-very-dark-blue);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

img {
  display: block;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

li {
  list-style-type: none;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.button {
  display: inline-block;
  background-color: var(--color-orange);
  color: var(--color-very-dark-blue);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 20px 46px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--color-orange-hover);
}

.simple-link {
  background: none;
  border: none;
  cursor: pointer;
}